body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  font-weight: normal;
  background-color: #849d8f;
}

h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  line-height: 30px;
}

.slide h2 {
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
  box-sizing: border-box;
}

.contact {
  text-align: right;
}

.contact-number {
  display: block;
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}


/* Шапка */

.main-menu {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.main-menu a {
  padding: 10px 14px;
  color: #ffffff;
  margin-right: 13px;
}

.main-menu a:hover {
  color: #333333;
  background: #f7f6f3;
  text-decoration: none;
  border-radius: 20px;
}

.main-menu ul {
  list-style: none;
}

.main-menu li {
  display: inline-block;
}

.sub-menu {
  display: none;
}

.user-block {
  margin-top: 23px;
}

.user-block a {
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
}

.search {
  padding: 10px 18px;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.2) url("../img/icons/search.png") no-repeat 50%;
  border-radius: 50%;
}

.search:hover {
  color: #000000;
  background: rgb(255, 255, 255) url("../img/icons/search-hover.png") no-repeat 50%;
}

.login {
  padding: 8px 16px;
  padding-left: 45px;
  margin-right: 7px;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.2) url("../img/icons/login.png") left 16px top 6px no-repeat;
  border-radius: 20px;
}

.login:hover {
  color: #000000;
  background: rgb(255, 255, 255) url("../img/icons/login-hover.png") left 16px top 6px no-repeat;
}

.cart {
  padding: 8px 34px;
  padding-left: 45px;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.2) url("../img/icons/cart.png") left 16px top 6px no-repeat;
  border-radius: 20px;
}

.cart:hover {
  color: #000000;
  background: rgb(255, 255, 255) url("../img/icons/cart-full.png") left 16px top 6px no-repeat;
}


/* Футер */

footer {
  border-top: 1px solid #a9bbb1;
}

.footer-social {
  margin-top: 30px;
  margin-right: 30px;
}

.social-btn {
  font-size: 0;
  padding: 16px 16px;
  margin-right: 11px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  background: url("../img/icon-sprite.png") no-repeat;
  border-radius: 50%;
  opacity: 0.8;
}

.social-btn:hover {
  opacity: 1;
}

.social-btn:active {}

.twitter {
  background-position: -63px -64px;
}

.instagram {
  background-position: -105px -64px;
}

.facebook {
  background-position: -147px -64px;
}

.vkontakte {
  background-position: -63px -106px;
}

.footer-links {
  width: 330px;
  margin-left: 150px;
  padding-left: 20px;
  padding-top: 10px;
}

.footer-links li {
  width: 50%;
  float: left;
  list-style: none;
}

.footer-links li a {
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
}

.footer-links li a:hover, .footer-links li a:active {
  color: #ffbc9e;
}

.footer-links li:nth-child(2n+1) a {
  padding-left: 22px;
}

.heart-link {
  font-weight: bold;
  background: url("../img/icons/heart.png") top 2px left 0px no-repeat;
}

.copyright {
  padding-top: 40px;
  margin-top: 10px;
  margin-bottom: 25px;
  background: url("../img/copyright-logo.png") no-repeat;
}

.copyright a {
  color: #fefefe;
}

.copyright a:hover, .copyright a:active {
  color: #ffbc9e;
}


/* Главная */

.slide {
  width: 870px;
  /* Примерно */
  margin: 0 auto;
}

.index-content {
  padding-bottom: 40px;
  background: #849d8f;
}

.offer-item, .blogs, .mailing {
  width: 560px;
  box-sizing: border-box;
  border-radius: 15px;
  background: #000000;
}

.offer-item {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.offer-item h2 {
  margin-left: 20px;
  margin-top: 21px;
  margin-bottom: 22px;
  font-size: 35px;
  font-weight: bold;
}

.offer-item p {
  margin-left: 18px;
  margin-right: 22px;
  margin-bottom: 44px;
}

.offer-item .btn {
  display: inline-block;
  float: right;
  margin-right: 21px;
  margin-bottom: 24px;
}

.offer-item.left {
  background: url("../img/raspberry-jam-offer.jpg") no-repeat 50%;
}

.offer-item.right {
  background: url("../img/chocolate-offer.jpg") no-repeat 50%;
}

.index-seo-content {
  margin-bottom: 44px;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  background: url("../img/seo-content-background.jpg") no-repeat 50%;
  border-radius: 15px;
}

.index-seo-content h2 {
  padding-left: 21px;
  padding-top: 26px;
  margin: 0;
}

.seo-articles {
  width: 545px;
  padding-left: 20px;
  list-style: none;
  margin: 0;
}

.seo-articles li {
  padding-top: 12px;
  margin-right: 10px;
  padding-left: 57px;
  margin-bottom: 8px;
  margin-top: 9px;
}

.seo-articles li:nth-child(2n) {
  margin-bottom: 24px;
}

.icon {
  position: relative;
}

.ice-cream::before {
  background: url("../img/icon-sprite.png") no-repeat;
  background-position: -5px -5px;
  width: 15px;
  height: 13px;
  position: absolute;
  right: 5px;
  top: 10px;
}

.icon-leaflet {
  background: url("../img/icons/leaflet.png") no-repeat;
}

.cow {
  background: url("../img/icons/cow.png") no-repeat;
}

.icon-thermometer {
  background: url("../img/icons/thermometer.png") no-repeat;
}

.blogs {
  font-size: 16px;
  color: #323232;
  background: url("../img/blog-background.jpg") no-repeat 50%;
}

.blogs a, .blogs h3 {
  color: #323232;
}

.blogs a:hover, .blogs h3:hover {
  color: #e84d37;
}

.blogs h3 {
  width: 280px;
  font-size: 24px;
  line-height: 30px;
  margin: 20px;
  margin-top: -14px;
  margin-bottom: 80px;
}

.blogs p {
  margin: 20px;
  margin-top: 27px;
}

.mailing {
  color: #5a5a5a;
  background: #f8f7f4;
  border: 5px solid;
  border-image: url("../img/mailing-pattern.png") 5 repeat;
  /* Это не работает, надо переделать в градиент*/
}

.mailing label {
  display: block;
  font-size: 16px;
  line-height: 22px;
}

.mailing-form label {
  margin: 20px;
  margin-top: 29px;
  margin-bottom: 34px;
}

input[type=email] {
  width: 364px;
  height: 40px;
  margin-bottom: 34px;
  margin-left: 20px;
  border: 2px solid #d3d3d2;
  border-radius: 5px;
}

.feedback {
  height: 429px;
  background: url("../img/feedback-map.png") no-repeat 50%;
}

.adress-block {
  float: right;
  margin: 20px;
  padding: 20px;
  color: #323232;
  border-radius: 10px;
  background: #fefefe;
}


/* Каталог */

.breadcrumb li {
  display: inline-block;
}

.hit {
  background: url("../img/icons/top-item.png") no-repeat;
}

.sort-choose {
  width: 180px;
  /* Временно */
}

.price-choose {
  width: 220px;
  /* Временно */
}

.fatness-choose span, .filler span {
  display: block;
}

.filler+.btn-submit {
  margin-left: 14px;
}

.filters {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 16px;
}

.fastview {
  position: relative;
  background: rgba(255, 255, 255, 0.2);
}

.fastview:hover {
  background: rgba(255, 255, 255, 0.2);
}

.fastview:last-child .item {
  margin-right: 0;
}

.fastview .btn {
  display: none;
}

.item {
  position: relative;
  width: 267px;
  margin-right: 26px;
  float: left;
}

.item h2, .item h3 {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  text-align: center;
}

.item a {
  color: #ffffff;
}

.item a:hover {
  color: #ffbc9e;
}

.item img {
  border-radius: 50%;
}

.price {
  position: absolute;
  margin-top: -60px;
  font-size: 30px;
  line-height: 45px;
}

.price-number {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}

.paginator {
  list-style: none;
  padding: 0 20px;
}

.paginator li {
  display: inline-block;
  width: 27px;
  text-align: center;
}

.paginator a {
  font-size: 16px;
  color: #fefefe;
  text-decoration: none;
}

.paginator a:hover {
  margin-left: -1px;
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.current a {
  padding: 5px 10px;
  margin-left: -10px;
  color: #353535;
  background: #ffffff;
  border-radius: 50%;
}

.prev a, .next a {
  font-size: 0;
}

.prev {
  background: url("../img/icons/pagination-left.png") no-repeat;
}

.next {
  background: url("../img/icons/pagination-right.png") no-repeat;
}

.disabled {
  opacity: 0.2;
}


/* Кнопки */

.btn {
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  color: #ffffff;
  text-decoration: none;
}

.btn:active {
  color: #ffffff;
  text-decoration: none;
}

.btn-large {
  padding: 10px 40px;
  font-size: 32px;
  line-height: 44px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  background-image: linear-gradient(180deg, #e74b36, #f26843);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.btn-large:hover {
  color: #ffffff;
  background-image: linear-gradient(180deg, #ec6f5e, #f58669);
  box-shadow: 0px 1px 2px 0px rgb(172, 16, 0);
}

.btn-large:active {
  color: #fceeec;
  background-image: linear-gradient(180deg, #e1613e, #d74632);
  box-shadow: inset 0px 2px 2px 0px rgb(148, 39, 24);
}

.btn-small {
  padding: 10px 22px;
  font-size: 18px;
  line-height: 24px;
  background-image: linear-gradient(180deg, #c83725, #f16743);
  box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);
}

.btn-small:hover {
  color: #fefefe;
  background-image: linear-gradient(180deg, #ec6f5e, #f58669);
  box-shadow: 0px 1px 2px 0px rgb(172, 16, 0);
}

.btn-small:active {
  color: #fceeec;
  background-image: linear-gradient(180deg, #e1613e, #d74531);
  box-shadow: inset 0px 2px 2px 0px rgb(148, 39, 24);
}

.btn-submit {
  padding: 5px 48px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  border: solid 2px #ffffff;
  border-radius: 30px;
}

.btn-submit:hover {
  color: #323232;
  background-color: rgb(255, 255, 255);
}

.btn-submit:active {
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0px #696969;
  opacity: 1;
}
